* {
    margin: 0;
    padding: 0;
}

.cont {
    background-color: white;
    position: fixed;
    height: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.cont img {
    height: 2.6rem;
    margin-left: 8rem;
    margin-top: 0.7rem;
}

.row2 {
    background-color: red;
}

.sidebar {
    background-color: white;
    position: fixed;
    left: -250px;
    height: 100vh;
    color: black;
    top: 4rem;
    transition: left 0.4s ease;
    z-index: 1;
    border-top-right-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar.show {
    left: 0px;
}

.btnm.click {
    left: 330px;
    transition: left 0.4s ease;
    transform: rotate(180deg);
}

/* .btnm.click btnm::before{
    content: '\f00d';
} */
.btn {
    position: absolute;
    top: 60px;
    left: -680px;
    z-index: 2;
    transition: left 0.4s ease;
}

.btnm {
    position: fixed;
    background-color: black;
    color: white;
    transition: left 0.4s ease;
    border: none;
    font-size: 1.6rem;
    font-weight: 800;
}

.sidebar p {
    color: white;
    width: 100%;
    text-align: left;
    background-color: black;
    width: 54vh;
    margin-left: -0.8rem;
    padding: 0.7rem;
    border-top-right-radius: 2rem;
}

.sidebar ul {
    color: black;
}

.sidebar ul li {
    line-height: 2;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
}

.content {
    /* background-color: blanchedalmond; */
    margin-left: 8rem;
}

.main {
    margin-top: 4rem;
}

.tech h3 {
    color: blue;
    font-weight: 700;
    margin-left: 2rem;
}

.technical {
    background-color: white;
    margin-top: 5rem !important;
    margin-bottom: 1rem !important;
}

.submit {
    background-color: blue;
    color: white;
    height: 2.5rem;
    width: 9rem;
    border-radius: 0.8rem;
    border: none;
    position: fixed;
    z-index: 1;
}

.explore {
    background-color: rgb(234, 234, 234);
    border-radius: 1rem;
    margin-left: 2rem;
}

.world {
    margin: 1.5rem;
    margin-left: 0.5rem;
}

.world h5 {
    font-weight: bold;
    line-height: 1;
    margin-top: 1rem;
}

.world p {
    line-height: 1.2;
}


.card {
    background-color: red;
    margin: 2rem;
    height: 80vh;
    border-radius: 2rem !important;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card::-webkit-scrollbar {
    display: none;
}

#cardp {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.card p2 {
    margin: 1rem;
}

.info {
    position: fixed;
    height: 4rem;
    width: 4rem;
    top: 30rem;
    z-index: 999;
    right: 0;
    padding: 1rem;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border: none;
    font-size: 1.5rem;
    font-weight: 800;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat {
    position: fixed;
    height: 4rem;
    width: 4rem;
    font-size: 1.2rem;
    font-weight: 800;
    top: 35rem;
    z-index: 999;
    right: 0;
    padding: 1rem;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.time {
    position: fixed;
    height: 4rem;
    width: 4rem;
    font-size: 1.2rem;
    font-weight: 800;
    top: 40rem;
    z-index: 999;
    right: 0;
    padding: 1rem;
    border-radius: 50%;
    background-color: blue;
    color: white;
    border: none;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
    justify-content: center;
}

.collapsible {
    max-width: 650px;
    font-weight: 500;
    overflow: hidden;
}

.collapsible2 {
    max-width: 650px;
    font-weight: 500;
    overflow: hidden;
}

.collapsibleC3 {
    max-width: 650px;
    font-weight: 500;
    overflow: hidden;
}

.collapsible input {
    display: none;
}

.collapsible2 input {
    display: none;
}


.collapsible label {
    position: relative;
    font-weight: 700;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #1c1c6b;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.collapsible2 label {
    position: relative;
    font-weight: 700;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #1c1c6b;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
}

.collapsible label::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background: url(arrow.svg) no-repeat 0 0;
    transition: all 0.3s ease;
}

.collapsible2 label::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    height: 18px;
    background: url(arrow.svg) no-repeat 0 0;
    transition: all 0.3s ease;
}

.collapsible input:checked+label::after {
    transform: rotate(180deg);
}

.collapsible2 input:checked+label::after {
    transform: rotate(180deg);
}

.collapsible-text {
    max-height: 1px;
    height: 12rem;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
    overflow: hidden;
}

.collapsible2-text {
    max-height: 1px;
    height: 35rem;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
    overflow-y: scroll;
}

.collapsibleC3T {
    height: 40rem;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    transition: all 0.3s ease;
    overflow-y: scroll;
}

.collapsible input:checked~.collapsible-text {
    max-height: 300px;
    padding-bottom: 25px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    top: 0;
    overflow: hidden;
}

.collapsible2 input:checked~.collapsible2-text {
    max-height: 700px;
    padding-bottom: 25px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
    top: 0;
    overflow: hidden;
}

.collapsible-text h2 {
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #1c1c6b;
    position: relative;
}

.collapsible2-text h2 {
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #1c1c6b;
    position: relative;
}

.collapsible-text p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
}

.collapsible2-text p {
    position: relative;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    font-weight: 450;
    font-size: 0.8rem;
}

.less {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardy {
    display: flex;
    justify-content: space-between;
}

.card1,
.card2 {
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    width: 15rem;
}

.cardy2 {
    display: flex;
}

textarea {
    width: 11rem;
    border-radius: 0.6rem;
    height: 4rem;
}

.category {
    margin-left: 19rem;
    font-size: 0.7rem;
}

.sele1,
.sele2 {
    margin-right: 1rem;
    height: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 0.5rem;
}

.sub-btn {
    background-color: blue;
    color: white;
    font-size: 0.7rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-left: 3rem;
    width: 6rem;
    font-weight: 500;
}

.summ {
    background-color: rgb(243, 243, 243);
    margin: 1rem;
    border-radius: 2rem;
}

.summ textarea {
    width: 100%;
    height: 14vh;
}

.sump {
    margin-left: 2rem;
}

.sele3 {
    margin-left: 24rem;
    font-size: 0.8rem;
    border: none;
    width: 8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.newt {
    margin-left: 25rem;
    background-color: blue;
    color: white;
    margin-top: 2rem;
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card3 {
    margin-left: 2rem;

}

.card3 p {
    font-weight: bold;
}

.card3 input {
    width: 90%;
    margin-right: 2rem;
    border: none;
    height: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contentp {
    margin-top: 1rem;
}

.file-Cont {
    background-color: rgb(243, 243, 243);
    height: 12vh;
    margin-right: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.file-Cont button {
    background-color: white;
    border: none;
    padding: 0 1rem;
}

.file-Cont input {
    height: 60vh;
    width: 67vh;
    margin-top: 4vh;
}

.collapsibleC3T::-webkit-scrollbar {
    display: none;
}

.lastCont {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

.slc3 {
    display: flex;
    justify-content: space-evenly;
}

.sel {
    border: none;
    padding: 0.5rem;
    width: 12rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.draftbtn{
    background-color: blue;
    border: none;
    color: white;
    padding: 0.5rem;
    width: 8rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.optbtn i{
      padding: 1rem;
      cursor: pointer;
}